$body-bg: #5149ac;
$container-bg: #1b1550;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

$cgp-nav-active-color: #678afe;
$cgp-nav-text-color: #9694ad;
$cgp-nav-text-hover-color: white;
$cgp-nav-item-padding: 10px;
$cgp-nav-item-border-radius: 10px;
$transition-speed: 0.3s;

.wn__button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color $transition-speed, color $transition-speed;

    svg {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }

    &:hover {
        background-color: $cgp-nav-active-color;
        color: $cgp-nav-text-hover-color;
    }

    &:disabled {
        background-color: #3a3a3a;
        color: #7a7a7a;
        cursor: not-allowed;
    }

    &.menu {
        font-weight: bold;
        width: 180px;
        height: 60px;
        background-color: $cgp-nav-active-color;
        justify-content: space-evenly;
        

        svg {
            width: 40px;
            height: 40px;
            transition: transform $transition-speed;
        }

        &:hover {
            background-color: $cgp-nav-active-color;
            color: white;

            svg {
                transform: rotate(90deg);
            }
        }
    }

    &.wide {
        width: 100%;
        height: 30px;
        justify-content: center;
    }
}

span.label {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

span.info {
    max-width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wn-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    

    .wn-list__header{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .wn-list__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 5px;

        .wn {
            background-color: #0f1539;
            padding: 10px;
            margin: 10px;
            border: 1px solid #000;
            border-radius: 10px;
            transition: box-shadow $transition-speed;
            animation: fadeIn 0.5s;

            &:hover {
                box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
            }

            .wn__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 2px solid #fff;

                .wn-header__title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                
                .wn-header__actions {
                    display: flex;
                    gap: 10px;
                }
            }

            .wn__content {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .wn-cont__connection {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px 0;
                    border-bottom: 1px solid #fff;

                    h5 {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .wn-cont__connection__item {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        gap: 10px;
                        
                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }

                .wn-cont__status {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 1px solid #fff;

                    h5 {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .wn-cont__status__item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-right: 10px;

                        svg {
                            width: 20px;
                            height: 20px;
                            fill: currentColor;
                        }
                    }
                }

                .wn-cont__processing {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px 0;
                    border-bottom: 1px solid #fff;

                    h5 {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .wn-cont__processing__item {
                        display: flex;
                        flex-direction: column;

                        .wn-cont__processing-info {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                            gap: 10px;
                            
                            div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }
                }

                .wn-cont__specs {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px 0;
                    border-bottom: 1px solid #fff;

                    h5 {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    .wn-cont__specs__item {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        gap: 10px;
                        
                        div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
